
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

.body{
    padding: 20px;
}
/* ---------------------------------------- logo and name */

.logo {
    background: url("../images/logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #ee5566;
}

/* ---------------------------------------- Nav Bar */


.nav-item {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
}

.nav-link{
    text-align: center;
}


/* ----------------------------------------Special paddings/margins/text */

.uppercase {
    text-transform: uppercase;
}

/* ----------------------------------------jumbotron */

.slide-show{
    text-align: center;
}

/* ----------------------------------------carousel */
.carousel-inner .carousel-item .image_3 {
  width:80%;
  height:100%;
}

.carousel-caption {
    font-weight: 400;
    font-size: 20px;
    color: #0e0d0d
}

.carousel-inner img {
    text-align: center;
    opacity: 0.6;
    margin-left: 0;
    margin-right: 0;
}

@media only screen and (max-width: 600px) {
.carousel-caption{
    font-weight: 300;
    font-size: 5px;
}

.carousel-caption h3{
    font-size: 10px;
}
}


/* ----------------------------------------Services */
.services p {
    display: block;
    text-align: center;
}

.services h2 {
    text-align: center;
}

.services_image {
    display: inline-block;
    padding-top: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
/* ----------------------------------------Footer */
footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
    text-align: center;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}
/* ----------------------------------------Contact Us */
button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #e84610;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

.call_out_heading {
    text-align: center;
    padding-top: 30px;
}

.contacts i {
    color: #e84610;
}

iframe {
    width: 90%;
    height: 100%;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 10px;
    text-align: center;
    overflow: auto;
}

.btn-info {
    display: inline-block;
    text-align: center;
    background-color: #e84610;
    margin-top: 0;
    margin-bottom: 0;
    height: 70px;
    font-size: 40px;
    font-weight: 300;
    border: none;
    padding-bottom: 20px;
}

.book-now-button{
    text-align: center;
    padding-bottom: 2em;
}

/* ----------------------------------------About us */

.about-us {
    padding: 2em;

    

}

.clinic-info{
    padding-top: 30px;
}


